{{ define "main" }}
{{ partial "tagheader.html" . }}
<div class="container mx-auto pt-10 prose">
    <p>Here's a list of tags. For your convenience. No, please, allow me to save you some time.</p>
</div>
<section id="tags">
      {{ $data := .Data }}
      {{ range $key, $value := .Data.Terms.ByCount }}
          {{ if ($value.Name) }}
              <span class="tag">
                  <a href="{{ "tags/" | relURL }}{{ $value.Name | urlize }}/">
                    {{ $value.Name | upper }} <span>({{ $value.Count }})</span>
                </a>
              </span>
          {{ end }}
      {{ end }}
</section>
{{ end }}
